<h2><%= @task.title %></h2><button type="button" id="button" class="btn btn-info"><%= link_to "Edit task", edit_task_path(@task) %></button>

<div class="task-details">
  <div class="card">
    <div class="card-body">
      <p><%= @task.details %></p>
    </div>
  </div>
  <p class="pt-4"><%= @task.completed ? "This task has been completed" : "This task has not been completed yet"%></p>
</div>


<p class="border-top new"><%= link_to "Back to all tasks", tasks_path %></p>
